@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$font: "Poppins", sans-serif;
$bg: #ffffff;
$banner: #f4f4f4;
$sec-bg: #f5e6fe;
$tag-color: #2d9aff;
$sec-color: #630f96;
$pri-color: #011b33;
$white: #ffffff;
$border: #9d9d9d;
$header: #011b33;
$sub: #4e4e4e;
$label: #011b33;
$placeholder: #8e8e8e;
$input: #E8E8E8;
$input-border: #a715ff;
$sub-color: #339DFF;
