// Colors
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
$font: 'Lato', sans-serif;
$bg: #ffffff;
$banner: #f4f4f4;
$sec-bg: #F5E6FE;
$tag-color: #2D9AFF;
$sec-color: #630F96;
$pri-color: #011B33;
$white: #ffffff;
$placeholder: #A3A3A3;
$border: #9D9D9D;